{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SimBNB!</h1>
        <p class="lead"> Site de mise en relation ....This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Vous ets voyageur ? It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonce</a>
        </p>
      </div>

      <h2 class="my-5 h1">Nos appartement stars</h2>
      <div class="row">
          <div class="col-md-4">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center">
                    
                    3 chambres, 40 €/ nuit 
                    <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="img" style="height: 200px; width : 100%; display: block ">
                
                <div class="card-body">
                    <h4 class="card-title">appart de ouf</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center">
                    
                    3 chambre, 40 €/ nuit 
                    <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="img" style="height: 200px; width : 100%; display: block ">
                
                <div class="card-body">
                    <h4 class="card-title">appart de ouf</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center">
                    
                    3 chambre, 40 €/ nuit 
                    <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="img" style="height: 200px; width : 100%; display: block ">
                
                <div class="card-body">
                    <h4 class="card-title">appart de ouf</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="my-5 h1">Nos Proprio stars</h2>
    <div class="row">
        <div class="col-6">
          <div class="card border-secondary mb-3">
            
              <div class="card-body">
                  <h4 class="card-title">Lior chamla</h4>
                  <div class="card-text">
                      <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque?
                      <a href="#" class="btn btn-success float-right">En savoir plus</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-6">
        <div class="card border-secondary mb-3">
          
            <div class="card-body">
                <h4 class="card-title">Lior chamla</h4>
                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, eaque?
                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
