
div.container{
    margin-top: 20px;
}

._ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center;
}

div._ad-title h1,div._ad-title p {

    color:white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);


}

div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

._avatar{
border-radius: 50%;
max-height: 128px;
max-width: 128px;

}



._avatar-medium{
max-height: 64px;
max-width: 64px;
}

._avatarMini{

max-height: 24px;
max-width: 24px;
}

.datepicker table tr td.disabled{
    color: red !important;
}

.rating i{
    color : goldenrod
}