<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Connection a l'administration</title>


    <style>
        body{
            display: flex;
            justify-content: center;
            height: 100vh;
        }

        .card{
            margin-top: 10%;
        }
    
    </style>
</head>
<body>

<div class="col-md-4">



    <div class="card bg_light">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fa fa-lock" aria-hidden="true"></i>
                Connection a l'administration
            </h4>
        </div>


        <div class="card-body">
        {% if hasError %}
            <div class="alert alert-warning">
                <p>Les informations que vous avez fournis sont incorrect</p>
            </div>
        {% endif %}
            <form action="" method="post">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" placeholder="Adresse mail" name="_username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    Connection </button>
                    <a href="{{path('homePage')}}" class="btn btn-link">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    Retour au site</a>
                </div>
            </form>
        
        </div>
    </div>
</div>    
</body>
</html>
