{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
            <h1> Oups ! </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus quidem eius veniam quam pariatur exercitationem. Explicabo recusandae aspernatur corporis eius nam dolorem culpa laborum a corrupti expedita, magni, veniam repellendus.
            Eaque, rerum doloribus ipsum aperiam necessitatibus quod soluta eos sit veniam! Inventore, animi quo vero, ab quia numquam veritatis fugiat hic facilis quod, accusamus fuga velit repellat maiores ut reprehenderit!
            Suscipit ducimus magni tempora dolorum laboriosam soluta nihil voluptates repudiandae illo incidunt nostrum eius, optio repellendus. Vitae, omnis! Natus impedit quas numquam officiis quasi saepe! Repudiandae possimus ipsa animi cum!
            Inventore, ab nesciunt! Nulla ipsam sunt earum commodi odio, ex vitae facere veniam suscipit et fugit dicta inventore eaque consequatur eveniet est. Voluptas tenetur, soluta accusantium nesciunt commodi sapiente repellendus.
            Amet molestias tempore, adipisci minima eligendi magni beatae praesentium repellendus corrupti debitis aliquam error quasi, provident voluptatum atque numquam quaerat dicta perferendis ratione mollitia, saepe vitae fugit veniam! Perspiciatis, facilis.
            Veniam aperiam qui eligendi omnis corporis vero adipisci distinctio ducimus, architecto non a ullam sed ex eius? Voluptatem odio nam facere, dolore ab dicta, soluta ullam quos earum deleniti distinctio.
            Perspiciatis, sint voluptatibus. Quod animi dicta in incidunt assumenda! Numquam magni perspiciatis dolorum quisquam excepturi natus, assumenda id! Impedit cum animi, et provident consequuntur praesentium obcaecati amet iusto nisi commodi!
            Nulla optio quia, rem corporis nostrum tempora maxime a! Obcaecati natus id nam eveniet maxime non est vitae doloribus quaerat, autem, corporis necessitatibus exercitationem quae et ex sit dolorum eligendi.
            Deleniti quas aliquid obcaecati amet natus necessitatibus porro placeat quis accusantium iusto officia, error tenetur. Error nihil commodi ipsum repellat velit, illo consequatur accusantium suscipit maiores non numquam, architecto ullam!
            Illum a corporis ipsa eaque fugit maiores ipsam quaerat accusantium odit quidem corrupti esse minus consequuntur iure, eum ad pariatur asperiores quas, quisquam aspernatur, dolorum magni unde. Iste, autem tempora!</p>


            <a href="{{path('ads_index')}}" class="btn btn-primary"> retours au annonce</a>
</div>
{% endblock %}