{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
            <h1> Oups ! </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus quidem eius veniam quam pariatur exercitationem. Explicabo recusandae aspernatur corporis eius nam dolorem culpa laborum a corrupti expedita, magni, veniam repellendus.
            Eaque, rerum doloribus ipsum aperiam necessitatibus quod soluta eos sit veniam! Inventore, animi quo vero, ab quia numquam veritatis fugiat hic facilis quod, accusamus fuga velit repellat maiores ut reprehenderit!
            Suscipit ducimus magni tempora dolorum laboriosam soluta nihil voluptates repudiandae illo incidunt nostrum eius, optio repellendus. Vitae, omnis! Natus impedit quas numquam officiis quasi saepe! Repudiandae possimus ipsa animi cum!
            Inventore, ab nesciunt! Nulla ipsam sunt earum commodi odio, ex vitae facere veniam suscipit et fugit dicta inventore eaque consequatur eveniet est. Voluptas tenetur, soluta accusantium nesciunt commodi sapiente repellendus., eum ad pariatur asperiores quas, quisquam aspernatur, dolorum magni unde. Iste, autem tempora!</p>


            <a href="{{path('ads_index')}}" class="btn btn-primary"> retours au annonce</a>
</div>
{% endblock %}